html,
body {
    font-family: 'Roboto Bold';
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-color: #000;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
}


.nav {
    padding: 5px 15px 5px 40px;
    margin: 0;
    background-color: #202225;
    display: inline-flex;
    width: 100vw;
}

.nav li:hover {
    color: rgba(82, 181, 75)
}

.nav li {
    color: #fff;
    cursor: pointer;
    margin-right: 25px;
}

.file_browser {
    padding: 10px 40px 10px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.item {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px;
    height: 25px;
    /* text-transform: lowercase; */
}

.item:hover {
    border: 2px solid #52b54b;
}

/* li.folder:before {
    margin-right: 15px;
    margin-left: 15px;
    content: "\1F4C1";
}

li.file:before {
    margin-right: 15px;
    margin-left: 15px;
    content: "\25B6";
}

li.file-other:before {
    margin-right: 15px;
    margin-left: 15px;
    content: "\1F4C4";

} */

.file-other {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}