<header class='header'>
    <nav class='nav horizontal'>
        <ul>
            <li>
                <a class="item{% if goback == False %} disabled{% endif %}" href="javascript:window.history.back()">
                <i class="icon icon-back"></i>
                </a>
            </li>
            {# <li style="margin-right: auto;">
                <a class="item{% if goback == False %} disabled{% endif %}" href="/">
                <i class="icon icon-home"></i>
                </a>
            </li> #}
            {% if video_title %}
                <li>
                    <h1 class="video-title">{{ video_title }}</h1>
                </li>
            {% else %}
            <li>
                <a class="item" href="/">
                <i class="logo"></i>
                </a>
            </li>
            <li class="item">
                <i class="icon icon-menu" onclick="menu()"></i>
            </li>
            <script>
                function menu() {
                    $( ".side-menu-overlay" ).toggleClass("active");
                }
            </script>
            {% endif %}
        </ul>
    </nav>
    {% if not video_title %}
    <div class="side-menu-overlay" onclick="menu()">
            <ul class="side-menu-list">
                <li class="list-item-header">
                Library
                </li>
                {% for item in library %}
                <li class="item">
                    <a class="icon icon-{{ item.type.lower() }}" href="/library/{{ item.name.lower() }}/">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                 <li class="list-item-header">
                Settings
                </li>
                 <li class="item">
                    <a class="icon icon-scan" href="/scan_library">
                        Scan library
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</header>