<header class='header'>
    <nav class='nav horizontal'>
        <ul>
            <li>
                <a class="item" href="javascript:window.history.back()">
                <i class="icon icon-back"></i>
                </a>
            </li>
            {% if video_title %}
                <li>
                    <h1 class="video-title">{{ video_title }}</h1>
                </li>
            {% else %}
            <li>
                <a class="item" href="/">
                <i class="logo"></i>
                </a>
            </li>
            <li>
                <label  class="item" for="side-menu">
                <i class="icon icon-menu"></i>
                </label>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if not video_title %}
    <input type="checkbox" id="side-menu" style="display:none;" />
    <div class="side-menu-overlay">
        <label for="side-menu">
            <ul class="side-menu-list">
                <li class="list-item-header">
                Library
                </li>
                {% for item in library %}
                <li class="item">
                    <a href="/library/{{ item.name.lower() }}/">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                 <li class="list-item-header">
                Settings
                </li>
                 <li class="item">
                    <a href="/scan_library">
                        Scan library
                    </a>
                </li>
            </ul>
        </label>
    </div>
    {% endif %}
</header>