html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.file-overview {
    padding: 15px;
    overflow-y: scroll;
    height: calc(100vh - 102px);
}

.category {
    margin-top: 25px;
}

.category span {
    margin-left: 5px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.file_browser span {
    text-transform: none;
}

.file_browser {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    padding: 0px;
    margin-bottom: 50px;
}



@media (max-width: 769px) {
    .file_browser {
        grid-template-columns: 1fr;
    }
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto';
    font-weight: 500;
}

.item {
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px;
    height: 25px;
    background-color: #000;
    border-radius: 10px;
    min-width: 0;
}

.item span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.item:hover {
    border: 2px solid var(--theme-color);
}

li.folder {
    background-color: #000;
    border-radius: 10px;
}

.file-other {
    border: 2px solid transparent;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.folder:before {
    content: " ";
    display: block;
    min-width: 25px;
    min-height: 25px;
    margin-right: 25px;
    background-color: #fff;

    -webkit-mask-image: url(../icons/folder-24px.svg);
    mask-image: url(../icons/folder-24px.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 25px;
    mask-size: 25px;

    -webkit-mask-position: center center;
    mask-position: center center;
}

.file-video:before {
    content: " ";
    display: block;
    min-width: 25px;
    min-height: 25px;
    margin-right: 25px;
    background-color: #fff;

    -webkit-mask-image: url(../icons/movie_creation-24px.svg);
    mask-image: url(../icons/movie_creation-24px.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 25px;
    mask-size: 25px;

    -webkit-mask-position: center center;
    mask-position: center center;
}

.file-other:before {
    content: " ";
    display: block;
    min-width: 25px;
    min-height: 25px;
    margin-right: 25px;
    background-color: #fff;

    -webkit-mask-image: url(../icons/description-24px.svg);
    mask-image: url(../icons/description-24px.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 25px;
    mask-size: 25px;

    -webkit-mask-position: center center;
    mask-position: center center;
}

.error-message {
    border: 2px solid transparent;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.error-message:before {
    content: " ";
    display: block;
    min-width: 25px;
    min-height: 25px;
    margin-right: 25px;
    background-color: #fff;

    -webkit-mask-image: url(../icons/error-24px.svg);
    mask-image: url(../icons/error-24px.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 25px;
    mask-size: 25px;

    -webkit-mask-position: center center;
    mask-position: center center;
}