.header {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    background-color: #000;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--theme-color);
}

.header a {
    order: 2;
    font-size: 30px;
    color: #fff;
    text-decoration: inherit;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 500;
}

.search {
    order: 3;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5px;
    font-size: 13px;
    border: 0px solid #202225;
    border-radius: 5px;
    color: #72767d;
    width: 100%;
    background-color: #202225;
    align-self: center;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search>input {
    background-color: transparent;
    border: none;
    outline: 0;
    width: 100%;
    color: #dcddde;
}

.back {
    -webkit-mask-image: url(../icons/arrow_back_ios-24px.svg);
    mask-image: url(../icons/arrow_back_ios-24px.svg);
    order: 0;
}

.menu {
    -webkit-mask-image: url(../icons/menu-24px.svg);
    mask-image: url(../icons/menu-24px.svg);
    order: 4;
    margin-left: auto;
}

.button {
    position: relative;
    display: block;
    min-width: 100px;
    min-height: 100px;
    background-color: #fff;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 50px;
    mask-size: 50px;
    pointer-events: all;
}



.button:hover {
    background-color: var(--theme-color);
}

@media (max-width: 769px) {
    .search {
        display: none;
    }
}