.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    background-color: #000;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #52b54b;
    margin-bottom: 25px;

}

.header a {
    font-size: 30px;
    color: #fff;
    text-decoration: inherit;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 500;
}

.search {
    margin-right: 10%;
    margin-left: 10%;
    padding: 5px;
    font-size: 13px;
    border: 0px solid #202225;
    border-radius: 5px;
    color: #72767d;
    width: 100%;
    background-color: #202225;
    align-self: center;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search>input {
    background-color: transparent;
    border: none;
    outline: 0;
    width: 100%;
    color: #dcddde;
}

.back-button {
    position: relative;

    display: block;
    min-width: 100px;
    min-height: 100px;
    background-color: #fff;

    -webkit-mask-image: url(../icons/arrow_back_ios-24px.svg);
    mask-image: url(../icons/arrow_back_ios-24px.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 50px;
    mask-size: 50px;

    -webkit-mask-position: center center;
    mask-position: center center;


    pointer-events: all;
}

.back-button:hover {
    background-color: #52b54b;
}