/* :root {
    --header-height: 80px;
} */

.header {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: var(--header-height);
    background-color: #000;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--theme-color);
}

.header a {
    order: 2;
    font-size: calc(var(--header-height) / 2.5);
    color: #fff;
    text-decoration: inherit;
    line-height: calc(var(--header-height) / 2.5);
    font-size: calc(var(--header-height) / 2.5);
    font-family: 'Roboto';
    font-weight: 500;
}

.menu-right {
    display: inherit;
    flex-direction: inherit;
    height: inherit;
    order: 1337;
    margin-left: auto;
}

/* @media (max-width: 769px) {
    .search {
        display: none;
    }
} */
.back-icon {
    -webkit-mask-image: url(../icons/arrow_back_ios-24px.svg);
    mask-image: url(../icons/arrow_back_ios-24px.svg);
}

.menu-icon {
    -webkit-mask-image: url(../icons/menu-24px.svg);
    mask-image: url(../icons/menu-24px.svg);
}

.search-icon {
    -webkit-mask-image: url(../icons/search-24px.svg);
    mask-image: url(../icons/search-24px.svg);
}

.button {
    position: relative;
    display: block;
    min-width: var(--header-height);
    min-height: var(--header-height);
    background-color: #fff;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: calc(var(--header-height) / 2);
    mask-size: calc(var(--header-height) / 2);
    pointer-events: all;
}



.button:hover {
    background-color: var(--theme-color);
}