*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --header_navigation_height: 75px;
    --border_radius: 10px;
    --animation-speed: 300ms;
    --animation-speed-fast: 100ms;
    --margin: 1.25rem;
}

body {
    overflow: hidden;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
}

.header {
    z-index: 1337;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.header .item {
    pointer-events: all;
}



/* 
Navigation
*/


.nav ul {
    display: flex;
}

.nav.horizontal ul {
    flex-direction: row;
    justify-content: space-between;
}

.nav.horizontal li {
    display: flex;
    align-items: center;
}

.nav.vertical ul {
    flex-direction: column;
}

.nav .item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--header_navigation_height);
    cursor: pointer;
}

.nav .icon {
    width: var(--header_navigation_height);
}

.nav .icon:hover::before {
    opacity: 1;
}

.nav .icon::before {
    content: "";

    display: block;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.8;

    min-height: 50%;
    min-width: 50%;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 50%;
    mask-size: 50%;

    -webkit-mask-position: center center;
    mask-position: center center;
    background-color: #fff;
    margin-right: 0;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    line-height: 1em;
}

.icon::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--margin);


    opacity: 0.8;

    min-height: 25px;
    min-width: 25px;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100%;
    mask-size: 100%;

    -webkit-mask-position: center center;
    mask-position: center center;
    background-color: #fff;
}

.logo::before {
    content: 'iXecSync';
    font-size: calc(var(--margin) * 1.69);
    font-weight: 600;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
    font-style: normal;
}

.side-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1337;
    -webkit-transition: all var(--animation-speed) ease-in-out;
    -moz-transition: all var(--animation-speed) ease-in-out;
    transition: all var(--animation-speed) ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.side-menu-list {
    display: flex;
    flex-direction: column;

    height: 100vh;
    max-width: 400px;
    width: 75vw;
    transform: translateX(400px);

    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;

    -webkit-transition: all var(--animation-speed) ease-in-out;
    -moz-transition: all var(--animation-speed) ease-in-out;
    transition: all var(--animation-speed) ease-in-out;

    font-weight: 500;
    color: #fff;
}

.side-menu-list a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: var(--margin);
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    font-size: var(--margin);
}

.side-menu-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-menu-overlay.active .side-menu-list {
    transform: translateX(0px);
}

.list-item-header {
    padding: var(--margin);
    font-size: calc(var(--margin) * 1.5);
}


.content {
    max-height: calc(100vh - var(--header_navigation_height));
    overflow: auto;
    padding-top: var(--margin);
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}


/*
icons
*/

.icon-movie::before {
    -webkit-mask-image: url(../icons/movie_creation-24px.svg);
    mask-image: url(../icons/movie_creation-24px.svg);
}

.icon-files::before {
    -webkit-mask-image: url(../icons/description-24px.svg);
    mask-image: url(../icons/description-24px.svg);
}

.icon-folder::before {
    -webkit-mask-image: url(../icons/folder-24px.svg);
    mask-image: url(../icons/folder-24px.svg);
}

.icon-popular::before {
    -webkit-mask-image: url(../icons/grade-24px.svg);
    mask-image: url(../icons/grade-24px.svg);
}

.icon-home::before {
    -webkit-mask-image: url(../icons/home-24px.svg);
    mask-image: url(../icons/home-24px.svg);
}

.icon-sessions::before {
    -webkit-mask-image: url(../icons/settings_ethernet-24px.svg);
    mask-image: url(../icons/settings_ethernet-24px.svg);
}

.icon-tv::before {
    -webkit-mask-image: url(../icons/live_tv-24px.svg);
    mask-image: url(../icons/live_tv-24px.svg);
}

.icon-search::before {
    -webkit-mask-image: url(../icons/search-24px.svg);
    mask-image: url(../icons/search-24px.svg);
}

.icon-scan::before {
    -webkit-mask-image: url(../icons/find_replace-24px.svg);
    mask-image: url(../icons/find_replace-24px.svg);
}

.icon-back::before {
    -webkit-mask-image: url(../icons/arrow_back-24px.svg);
    mask-image: url(../icons/arrow_back-24px.svg);
}

.icon-menu::before {
    -webkit-mask-image: url(../icons/menu-24px.svg);
    mask-image: url(../icons/menu-24px.svg);
}

.files-image {
    filter: invert(100%);
    opacity: 0.1;
}

.center-content {
    justify-content: center;
}

.media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: var(--margin);
    grid-row-gap: var(--margin);
    justify-items: stretch;
    align-items: stretch;
}

.file-browser {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-column-gap: var(--margin);
    grid-row-gap: var(--margin);
    justify-items: stretch;
    align-items: stretch;
}

.search {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-bottom: var(--margin);
}

.search>input {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border_radius);
    border: none;
    padding: 25px;
    outline: 0;
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.overview {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-bottom: var(--margin);
}

.video-title {
    margin-left: 25px;
    font-size: 25px;
    width: calc(100vw - 150px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overview .poster {
    height: 375px;
    width: 250px;
    border-radius: calc(var(--border_radius) * 2);
    border: 5px solid transparent;
    pointer-events: none;
    object-fit: cover;
    margin-right: var(--margin);
}

.overview-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: var(--margin);
    max-width: 800px;
    min-width: 300px;
}

.overview-side a {
    margin-top: auto;
    color: #fff;
}

.overview-text {
    margin-top: var(--margin);
    line-height: 20px;
}


.button {
    position: relative;
    width: 100%;

    border: none;
    border-radius: var(--border_radius);
    background-color: transparent;

    color: #fff;
    font-size: 1em;
    line-height: calc(var(--margin) * 2.25);
    font-weight: 600;
    text-align: center;

    cursor: pointer;
    overflow: hidden;

    -webkit-transition: box-shadow var(--animation-speed) ease-in-out;
    -moz-box-transition: box-shadow var(--animation-speed) ease-in-out;
    transition: box-shadow var(--animation-speed) ease-in-out;
}

.button:hover {
    -webkit-box-shadow: inset 0 0 0 1337px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 1337px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1337px rgba(0, 0, 0, 0.2);
}

.button.theme {
    background-color: var(--theme-color-value-hover);
}

.button.optional {
    border: var(--theme-color-value) 2px solid;
}

.overview-side h1 {
    font-size: calc(var(--margin) * 1.69);
    font-weight: 500;
    margin-bottom: calc(var(--margin) * 0.5);
}

.subtext {
    display: inline-flex;
    align-items: center;
    height: var(--margin);
    margin-bottom: var(--margin);
    font-size: calc(var(--margin) * 0.85);
}

.subtext span+span {
    margin-left: 10px;
}

.rating {
    display: inline-flex;
    align-items: center;
    height: 35px;
}

.rating::before {
    content: " ";
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    margin-bottom: 3px;
    background-color: rgb(255, 238, 0);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 20px;
    mask-size: 20px;

    -webkit-mask-position: center center;
    mask-position: center center;

    -webkit-mask-image: url(../icons/grade-24px.svg);
    mask-image: url(../icons/grade-24px.svg);
}

.backdrop {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    filter: blur(35px) opacity(0.5);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}


.subheader {
    font-size: calc(var(--margin) * 1.69);
    margin-bottom: var(--margin);
    text-transform: capitalize;
}

.container {
    padding: var(--margin);
    margin-bottom: var(--margin);
}

.media-filters ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: var(--border_radius)
}

.media-filters .sort-filter {
    order: 1;
    flex-grow: 1;
}

.media-filters input {
    background-color: rgba(0, 0, 0, 0.4);
}

.media-filters .search-filter {
    order: 2;
    flex-grow: 10;
    flex-basis: 200px;
}

.media-filters form {
    display: flex;
    flex-direction: row;
    height: calc(var(--margin) * 2.25);
}

.search-filter form input:nth-child(1) {
    flex-grow: 10;
}

.search-filter form input:nth-child(2) {
    display: none;
    flex-grow: 1;
    max-width: 50px;
    -webkit-mask-image: url(../icons/search-24px.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(../icons/search-24px.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #fff;
}


.media-filters select {
    background-color: var(--theme-color);
}



.media-filters input::placeholder,
.media-filters input,
.media-filters select option,
.media-filters select {
    width: 100%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: var(--border_radius);
    font-size: 14px;
    font-weight: 500;
}

.genre {
    -webkit-transition: all var(--animation-speed-fast) ease-in;
    -moz-box-transition: all var(--animation-speed-fast) ease-in;
    transition: all var(--animation-speed-fast) ease-in;
}

.genre:hover {
    color: var(--theme-color);
}

.mobile ul {
    display: inherit;
}

.library .menu-button {
    display: none;
}


@media (max-width: 900px) {
    .library {
        justify-content: space-between;
    }

    .library .back-button {
        order: 1;
        display: inline-flex;
    }

    .library .logo {
        order: 2;
        display: inline-flex;
    }

    .library .menu-button {
        order: 3;
        display: inline-flex;
    }

    .library li {
        order: 5;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        /* z-index: 99; */
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        min-height: calc(100vh - 75px);
        max-height: calc(100vh - 75px);
        overflow: scroll;
    }

    .library .mobile.active {
        display: block;
    }

    .library .mobile {
        display: none;
    }

    .mobile ul {
        display: block;
        min-height: 100vh;
    }

    .mobile ul li {
        height: 90px;
    }

    .mobile ul li a {
        width: 100%;
    }

    .library .menu-button {
        display: flex;
    }
}

/*
Buttons list
*/
.button-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: var(--margin);
    grid-row-gap: var(--margin);
}

/* Grid layout for media */

.media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: var(--margin);
    grid-row-gap: var(--margin);
    margin-bottom: var(--margin);
}

.media.hd {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.media.files {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.media.horizontal_scroll {
    display: grid;
    /* overflow-x: scroll;
    max-height: 375px; */
}

@media (max-width:769px) {
    .media {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.media.buttons {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.media .item a {
    display: flex;
    flex-direction: column;
}

.media .meta {
    padding: calc(var(--margin) / 2);
}

.meta span {
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

.meta span:nth-child(1) {
    font-weight: 500;
}

.meta span:nth-child(2) {
    margin-top: calc(var(--margin) / 2);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    pointer-events: none;
    -webkit-transition: all var(--animation-speed-fast) ease-in;
    -moz-box-transition: all var(--animation-speed-fast) ease-in;
    transition: all var(--animation-speed-fast) ease-in;
}

.item.not-available {
    opacity: 0.5;
}

.item.not-available:hover {
    opacity: 1;
}

.item.not-available .inner-aspect-ratio {
    background-color: #01B4E4;
}

.item .inner-aspect-ratio {
    background-color: var(--theme-color-value);
}

.border-selection {
    /* border: 5px transparent solid; */
    border-radius: var(--margin);
    overflow: hidden;
}


.media .item:hover img {
    padding: 5px;
    border-radius: var(--margin);
    /* border: 5px transparent solid; */
}

.media .item.not-available .border-selection:hover {
    /* border: 5px #01b4e4 solid; */
}


/* Aspect ratio */

.aspect-ratio-9x16 {
    background-color: var(--theme-color-value);
    padding-top: 150%;
    height: 0;
    width: 100%;
    position: relative;
}

.aspect-ratio-16x9 {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 56.25%;
    height: 0;
    width: 100%;
    position: relative;
}

.inner-aspect-ratio {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pagination {
    padding: var(--margin);
}

.pagination ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination li {
    opacity: 0.5;
}

.pagination li:hover {
    opacity: 1;
}

.pagination .active {
    opacity: 1;
}

.pagination a {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--theme-color);
    padding: calc(var(--margin) / 2) var(--margin);
    border-radius: var(--border_radius);
}

.pagination li+li {
    margin-left: 15px;
}

.pagination .disabled {
    opacity: 0.2;
}

.disabled {
    opacity: 0.5;
    pointer-events: none !important;
    cursor: pointer !important;
}