.video-overlay {
    position: relative;
    user-select: none;
    pointer-events: none;
}

.video-overlay-container {
    position: relative;
    height: var(--header-height);
    width: 100vw;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

#video-overlay-title {
    position: relative;
    z-index: 1;
    line-height: calc(var(--header-height) / 2.5);
    font-size: calc(var(--header-height) / 2.5);
    font-family: 'Roboto';
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-overlay .back-button {
    position: relative;

    display: block;
    min-width: var(--header-height);
    min-height: var(--header-height);
    background-color: #fff;

    -webkit-mask-image: url(../icons/arrow_back_ios-24px.svg);
    mask-image: url(../icons/arrow_back_ios-24px.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: calc(var(--header-height) / 2);
    mask-size: calc(var(--header-height) / 2);

    -webkit-mask-position: center center;
    mask-position: center center;


    pointer-events: all;
}



.video-overlay .back-button:hover {
    background-color: var(--theme-color);
}

.syncing {
    background-color: #ffce42 !important;
}

.video-js .vjs-progress-control {
    height: 1.5em;
    top: -1.5em
}

@media (max-width: 769px) {
    .video-js .vjs-progress-control:hover {
        height: 1.5em;
        top: -1.5em
    }
}


.vjs-volume-control,
.vjs-menu-item,
.vjs-button,
.vjs-menu-button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}