{% extends "library_base.html" %}

{% block content_section %}
<img class="backdrop" src="/thumbnail{{ meta.poster_path }}">
<section class="overview">
    <img class="poster" src="/thumbnail{{ meta.poster_path }}">
    <div class="overview-side">
        <h1>{{ meta.title }}</h1>
        <div class="subtext">
            <span>{{ meta.release_date[:4] }}</span>
            <span class="rating">{{ meta.vote_average }}</span>
            {% if meta.genre_ids %}
            {% set genres = meta.genre_ids.split(',') %}
            {% for genre in genres %}
            <span><a class="genre"
                    href="/library/{{ meta.library_name.lower() }}/{{genre.lower().replace(' ', '_')}}/">{{ genre }}</a></span>
            {% endfor %}
            {% endif %}

        </div>
        <span class="overview-text">{{ meta.overview }}</span>
    </div>
</section>

<section class="container">
    {% include "overview/library_movie_play_buttons.html" %}
</section>

{% if season %}
<section class="container">
    {% include "overview/library_tvshow_season_overview.html" %}
</section>
{% endif %}

{% if episode %}
<section class="container">
    {% include "overview/library_tvshow_episode_overview.html" %}
</section>
{% endif %}

{% endblock %}