<ul class="media buttons">
    {% if movie %}
    <li class="item">
        <a href="play">
            <button class="button theme">Play</button>
        </a>
    </li>

    <li class="item">
        <a href="play/?transcoding=1">
            <button class="button theme">Play (Transcoding)</button>
        </a>
    </li>
    {% endif %}
    
    <li class="item">
        <a href="https://www.themoviedb.org/{{item_content_type}}/{{item_id}}">
            <button class="button optional">View on TMDB</button>
        </a>
    </li>
    {% if video %}
    <li class="item">
        <a href="trailer/">
            <button class="button optional">Trailer</button>
        </a>
    </li>
    {% endif %}
</ul>