<h2>Seasons</h2>
<ul class="media">
    {% for season in season %}
    <a href="{{ season.season_number }}/">
        <li class="item">
            <div class="aspect-ratio-9x16 border-selection">
                <div class="inner-aspect-ratio">
                    <img src="/thumbnail{{ season.poster_path }}">
                </div>
            </div>
            <div class="meta">
                <span>Season {{season.season_number}}</span>
            </div>
        </li>
    </a>
    {% endfor %}
</ul>