<h2>Season {{season_number}}</h2>
<ul class="media hd">
    {% for episode in episode %}
    {% set tmdb_link = "https://www.themoviedb.org/tv/" + episode.show_id + "/season/" + episode.season_number + "/episode/" + episode.episode_number %}
    <a href="{% if episode.available %}{{episode.episode_number}}/play{% else %} {{ tmdb_link }} {% endif %}">
        <li class="item{% if not episode.available %} not-available{% endif %}">
            <div class="aspect-ratio-16x9 border-selection">
                <div class="inner-aspect-ratio">
                    <img src="/thumbnail{{ episode.still_path }}">
                </div>
            </div>
            <div class="meta">
                <span>Episode {{episode.episode_number}}</span>
                <span>{{ episode.name }}</span>
            </div>
        </li>
    </a>
    {% endfor %}
</ul>