<ul class="media">
    {% if movie %}
    <li class="item">
        <a href="play">
            <button class="button theme">Play</button>
        </a>
    </li>

    <li class="item">
        <a href="play/?transcoding=1">
            <button class="button theme">Play (Transcoding)</button>
        </a>
    </li>
    {% endif %}
    {% if meta.video %}
    <li class="item">
        <a href="/library/{{ meta.library_name }}/{{ meta.id }}/trailer/">
            <button class="button optional">Trailer</button>
        </a>
    </li>
    {% endif %}
</ul>