<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="Pragma" content="no-cache" />
   <title>iXec Sync</title>
   <script src="https://kit.fontawesome.com/79d568081a.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='stylesheets/style_file_browser.css') }}" />

</head>

<body>

   <main class="grid">
      {% include "header.html" %}
      <!-- <nav>
         <button onclick="window.location.href='/file'">Home</button>
         <button onclick="goBack()">Go Back</button>
      </nav> -->
      <section class="scrolling">
         <ul class="file_browser">
            {% for item in dirs %}
            <li class="folder item" onclick='navigate(this.id)' id='{{ item.name }}'>
               {{ item.name }}
            </li>
            {% endfor %}

            {% for item in files %}
            <li class="file item" onclick='navigate(this.id)' id='{{ item.name }}'>
               {{ item.name }}
            </li>
            {% endfor %}

            {% for item in empty %}
            <li>
               {{ item.name }}
            </li>
            {% endfor %}
         </ul>
      </section>
   </main>
</body>
<script>
   function navigate(id) {
      redirect_url = window.location.href.slice(-1) == "/" ? window.location.href + id : window.location.href + "/" + id
      window.location.href = redirect_url
   }
</script>

</html>