<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="Pragma" content="no-cache" />
   <title>iXec Sync</title>
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='stylesheets/style_file_browser.css') }}" />

</head>

<body>
   <main class="grid">
      {% include "header.html" %}
      <!-- <nav>
         <button onclick="window.location.href='/file'">Home</button>
         <button onclick="goBack()">Go Back</button>
      </nav> -->
      <nav>
         <ul class="nav">
            <li onclick="goBack()">Back</li>
         </ul>
      </nav>
      <section class="scrolling">
         <ul class="file_browser">
            {% for item in folders %}
            <li class="folder item" onclick='navigate(this.id)' id='{{ item.path }}' data-type='{{ item.type }}'>
               {{ item.name }}
            </li>
            {% endfor %}

            {% for item in files %}
            <li class="file item file-{{ item.format }}" onclick='navigate(this.id)' id='{{ item.path }}'
               data-type='{{ item.type }}'>
               {{ item.name }}
            </li>
            {% endfor %}

            {% for item in empty %}
            <li class="file item file-other">
               {{ item.name }}
            </li>
            {% endfor %}
         </ul>
      </section>
   </main>
</body>
<script>
   function RemoveLastDirectoryPartOf(the_url) {
      var the_arr = the_url.split('/');
      the_arr.pop();
      the_arr.pop();
      return (the_arr.join('/'));
   }

   function goBack() {
      var back = RemoveLastDirectoryPartOf(window.location.href)
      window.location.href = back
   }

   function navigate(id) {
      //redirect_url = window.location.href.slice(-1) == "/" ? window.location.href + id : window.location.href + "/" + id
      var item = document.getElementById(id)
      var type = item.getAttribute('data-type')
      var redirect = "/file/" + id
      if (type == 'folder') {
         redirect = redirect + "/"
      }
      window.location.href = redirect
   }
</script>

</html>