{% extends "library_base.html" %}


{% block navigation_content %}
<li id="filter">
    <input id='search' type=search onkeyup="search()" placeholder="Search...">
</li>
<script>
    function search() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        ul = document.getElementById("media_list");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("span")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}

{% block content_section %}
<section class="container">
    <h2>{{ current_dir }}</h2>
    <ul class="media files">
        {% if media %}
        {% for item in media %}

        {% if item.type == 'folder' %}
        {% set media_url = url_for('static', filename='icons/folder-24px.svg') %}
        {% else %}
        {% set media_url = url_for('static', filename='icons/description-24px.svg') %}
        {% endif %}
        <li class="item">
            <a href="{{ item.content_dir }}/">
                <div class="aspect-ratio-16x9 border-selection">
                    <div class="inner-aspect-ratio">
                        <img class="files-image" src="{{ media_url }}">
                    </div>
                </div>
                <div class="meta">
                    <span>{{ item.title }}</span>
                    <span>({{ item.type }})</span>
                </div>
            </a>
        </li>
        {% endfor %}
        {% else %}
        <li class="item disabled">
            <a>
                <div class="aspect-ratio-16x9 border-selection">
                    <div class="inner-aspect-ratio">
                        <img class="files-image" src="{{ url_for('static', filename='icons/folder-24px.svg') }}">
                    </div>
                </div>
                <div class="meta">
                    <span>This folder is empty.</span>
                </div>
            </a>
        </li>
        {% endif %}
    </ul>
</section>
{% endblock %}