<img class="backdrop" src="{{ item_image_src }}">
<section class="overview">
    <img class="poster" src="{{ item_image_src }}">
    <div class="overview-side">
        <h1>{{ item_title }}</h1>
        <div class="subtext">
            <span>{{ item_release_date }}</span>
            <span class="rating">{{ item_rating }}</span>
            {% if item_genres %}
                {% for genre in item_genres %}
                    {% set link = item_genre_link_prefix + genre.name.lower() + "/" %}
                    <span><a class="genre" href="{{ link }}">{{ genre.name }}</a></span>
                {% endfor %}
            {% endif %}

        </div>
        <span class="overview-text">{{ item_description }}</span>
    </div>
</section>