{% extends "library_base.html" %}


{% block content_section %}
<img class="backdrop" src="/thumbnail/{{ meta.content_dir }}.jpg">
<section class="overview">
    <img class="poster" src="/thumbnail/{{ meta.content_dir }}.jpg">
    <div class="overview-side">
        <h1>{{ meta.title }}</h1>
        <div class="subtext">
            <a href="#">{{ meta.release_date }}</a>
            <a href="#" class="rating">{{ meta.vote_average }}</a>
        </div>
        <span>{{ meta.overview }}</span>
        <a href="play">
            <button class="button">Play</button>
        </a>
    </div>

</section>
{% endblock %}