{% extends "library_base.html" %}


{% block content_section %}
<section id='search'>
    <section class="item ">
        <form action="{{ url_for('search_query') }}" method="post" class="search">
            <input id='search-input' type="search" name="search" placeholder="search (title, release date)"
                value="{{ search }}">
        </form>
    </section>
</section>

{% if media %}
<ul class="media">
    {% for item in media %}
    <li class="item{% if item.notavailable %} not-available{% endif %}">
        <a href="/library/{{ item.library_name }}/{{ item.id }}/">
            <div class="aspect-ratio-9x16 border-selection">
                <div class="inner-aspect-ratio">
                    <img src="{{ thumbnail_src }}">
                </div>
            </div>
            <div class="meta">
                <span>{{ item.title }}</span>
                <span>({{ item.release_date }})</span>
            </div>
        </a>
    </li>
    {% endfor %}

</ul>
{% elif search %}
<span class="center-span">No items match your search</span>
{% endif %}

{% endblock %}