{% extends "base.html" %}

{% block title %}Library{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/library.css') }}" />
{% endblock %}


{% block content %}
<main>
    <section id="menu-section">
        <span class="logo">iXecSync</span>
        {% if library %}
        <ul class="library">
            {% for item in library %}
            <a href="/library/{% filter lower %}{{ item.name }}{% endfilter %}/">
                <li class="item">
                    <span>{{ item.name }}</span>
                </li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    <section id="content-section">
        {% if media %}
        <ul class="media">
            {% for item in media %}
            <a href="{% filter lower %}{{ item.name }}{% endfilter %}">
                <li class="item">
                    <img src="{{ item.thumbnail }}">
                    <span>{{ item.name }}</span>
                </li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</main>
{% endblock %}