    <header id='header'>
        <ul class='library'>
            <li class="back-button">
                <a href='javascript:window.history.back()'
                    class='item icon icon-back{% if goback == False %} disabled{% endif %}'></a>
            </li>
            {% if video_title %}
            <li>
                <h1 class="video-title">{{ video_title }}</h1>
            </li>
            {% else %}
            <li class="menu-button" onclick="$('.mobile').toggleClass('active')">
                <a class='item icon icon-menu'></a>
            </li>
            <li class="logo">
                <a href="/"></a>
            </li>
            {% endif %}
            {% if selected %}

            <li class="mobile">
                <ul>
                    <li>
                        <a href='/library/'
                            class='item icon icon-home {% if selected.lower() == 'home' %}selected{% endif %}'>
                            <span>Home</span>
                        </a>
                    </li>

                    <li>
                        <a href='/files/'
                            class='item icon icon-folder {% if selected.lower() == 'files' %}selected{% endif %}'>
                            <span>Files</span>
                        </a>
                    </li>


                    <li>
                        <a href='/search/'
                            class='item icon icon-search {% if selected.lower() == 'search' %}selected{% endif %}'>
                            <span>Search</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if library %}
                    {% for item in library %}
                    <li>
                        <a href='/library/{{ item.name.lower() }}/'
                            class='item icon icon-{{ item.type.lower() }} {% if selected.lower() == item.name.lower() %}selected{% endif %}'>
                            <span>{{ item.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </li>

        </ul>
    </header>