{% extends "library_base.html" %}


{% block content_section %}

<section id='search'>
    <section class="item ">
        <form action="{{ url_for('search_query') }}" method="post" class="search">
            <input id='search-input' type="search" name="search" placeholder="search (title, release date)"
                value="{{ search }}">
        </form>
    </section>
</section>

{% if media %}
<ul class="media">
    {% for item in media %}
    <a href="{% filter lower %}/library/{{ item.library_name }}/{{ item.content_dir }}{% endfilter %}/">
        <li class="item">
            <div class="thumbnail"><img src="/thumbnail/{{ item.content_dir }}.jpg"></div>
            <span>{{ item.title }}</span>
            <span>({{ item.release_date }})</span>
        </li>
    </a>
    {% endfor %}

</ul>
{% elif search %}
<span class="center-span">No items match your search</span>
{% endif %}

{% endblock %}