{% extends "library_base.html" %}


{% block navigation_content %}
<li id="filter">
    <input id='search' type=search onkeyup="search()" placeholder="Search...">
</li>
<script>
    function search() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        ul = document.getElementById("media_list");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("span")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}

{% block content_section %}
<section class="container">
    <h2>{{ current_dir }}</h2>
    <ul class="media hd">
        {% if media %}
            {% for item in media %}

                {% set item_link = item.content_dir + "/" %}

                {% if item.type == "folder" %}
                {% set item_image_src = url_for('static', filename='icons/folder-24px.svg') %}
                {% else %}
                {% set item_image_src = url_for('static', filename='icons/description-24px.svg') %}
                {% endif %}

                {% set item_meta_text_1 = item.content_dir %}
                {% set item_not_available = False %}
                {% set orientation = "landscape" %}

                {% include "components/poster-meta-text.html.j2" %}

            {% endfor %}
        {% endif %}
    </ul>
</section>
{% endblock %}