{% extends "library_base.html" %}


{% block content_section %}

{% if media_filters %}
{% include "library_media_filters.html" %}
{% endif %}

{% if media %}
<ul id="media" class="media">
    {% for item in media %}

    {% set media_url = "/library/" + item.library_name.lower() + "/" + item.id + "/" %}
    {% set thumbnail_src =  "/thumbnail" + item.poster_path %}

    <li class="item">
        <a href="{{ media_url }}">
            <div class="aspect-ratio-9x16 border-selection">
                <div class="inner-aspect-ratio">
                    <img src="{{ thumbnail_src }}">
                </div>
            </div>
            <div class="meta">
                <span>{{ item.title }}</span>
                <span>({{ item.release_date[:4] }})</span>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}