{% extends "base.html" %}

{% block title %}{{selected.capitalize()}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/library.css') }}" />
{% endblock %}


{% block content %}
<main>
    <section id="menu-section">
        <span class="logo">iXecSync</span>
        <ul class="library">
            <a href="/library/">
                <li class="item icon-home {% if selected.lower() == 'home' %}selected{% endif %}">
                    <span>Home</span>
                </li>
            </a>
            <a href="/files/">
                <li class="item icon-files {% if selected.lower() == 'files' %}selected{% endif %}">
                    <span>Files</span>
                </li>
            </a>
            <a href="/search/">
                <li class="item icon-search {% if selected.lower() == 'search' %}selected{% endif %}">
                    <span>Search</span>
                </li>
            </a>
            {% for item in library %}
            <a href="/library/{{ item.name }}/">
                <li
                    class="item icon-{{ item.type.lower() }} {% if selected.lower() == item.name.lower() %}selected{% endif %}">
                    <span>{{ item.name }}</span>
                </li>
            </a>
            {% endfor %}
        </ul>
    </section>

    <section id="main-wrapper">
        <nav id="navigation">
            <ul>
                <a href="../" class="{% if not goback %}disabled{% endif %}">
                    <li class="nav-back" onclick="javascript:window.history.back()">
                    </li>
                </a>
                {% block navigation_content %}
                {% endblock %}
            </ul>
        </nav>
        <section id="content-section">
            {% block content_section %}
            {% endblock %}
        </section>
    </section>
</main>
{% endblock %}