{% extends "library_base.html" %}

{% block content_section %}
<!-- <img class="backdrop" src="/thumbnail/{{ meta.content_dir }}.jpg"> -->
<section class="overview">
    <img class="poster" src="/thumbnail/{{ meta.content_dir }}.jpg">
    <div class="overview-side">
        <h1>{{ meta.title }}</h1>
        <div class="subtext">
            <a href="#">{{ meta.release_date }}</a>
            <a href="#" class="rating">{{ meta.vote_average }}</a>
        </div>
        <span>{{ meta.overview }}</span>
        <!-- <a href="play">
            <button class="button">Play</button>
        </a> -->
    </div>
</section>
<section class="overview-extra">
    {% if movie %}
    <ul class="media">
        <a href="play">
            <li class="item">
                <button class="play-button">Play</button>
            </li>
        </a>
    </ul>
    {% endif %}
    {% if season %}
    <ul class="media">
        {% for item in season %}
        <a href="{{item.season_number}}/">
            <li class="item">
                <div class="thumbnail"><img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}">
                </div>
                <span>Season {{item.season_number}}</span>
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}
    {% if episode %}
    <ul class="media hd">
        {% for item in episode %}
        <a href="{{item.episode_number}}/play">
            <li class="item">
                <div class="thumbnail"><img src="https://image.tmdb.org/t/p/w500{{item.still_path}}">
                </div>
                <span>Episode {{item.episode_number}}</span>
                <span>{{ item.name }}</span>
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endblock %}