{% extends "library_base.html" %}



{% block content_section %}
<img class="backdrop" src="/thumbnail/{{ meta.content_dir }}.jpg">
<section class="overview">
    <img class="poster" src="/thumbnail/{{ meta.content_dir }}.jpg">
    <div class="overview-side">
        <h1>{{ meta.title }}</h1>
        <div class="subtext">
            <span>{{ meta.release_date }}</span>
            <span class="rating">{{ meta.vote_average }}</span>
        </div>
        <span class="overview-text">{{ meta.overview }}</span>
    </div>
</section>
<section class="overview-extra">
    {% if not error %}
    {% if movie %}
    <ul class="media">

        <li class="item">
            <a href="play?transcoding=0">
                <button class="button theme">Play</button>
            </a>
        </li>

        <li class="item">
            <a href="play?transcoding=1">
                <button class="button theme">Play (Transcoding)</button>
            </a>
        </li>

        <li class="item">
            <a href="/watch?v=qC5KtatMcUw">
                <button class="button theme">Trailer</button>
            </a>
        </li>

    </ul>
    {% endif %}
    {% if season %}
    <ul class="media poster-size">
        {% for item in season %}
        <a href="{{item.season_number}}/">
            <li class="item">
                <div class="thumbnail"><img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}">
                </div>
                <span>Season {{item.season_number}}</span>
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}
    {% if episode %}
    <h1>Season {{season_number}}</h1>
    <ul class="media hd-size">
        {% for item in episode %}
        <a href="{{item.episode_number}}/play">
            <li class="item">
                <div class="thumbnail"><img src="https://image.tmdb.org/t/p/w500{{item.still_path}}" />
                </div>
                <span>Episode {{item.episode_number}}</span>
                <span>{{ item.name }}</span>
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <span>{{ error }}</span>
    {% endif %}
</section>
{% endblock %}