{% extends "library_base.html" %}


{% block content_section %}

    {% if media_filters %}
        {% include "library_media_filters.html" %}
    {% endif %}

    {% if movie %}
        <section class="container">
            <h2>Popular Movies</h2>
            <ul id="media" class="media horizontal_scroll">
                {% for item in movie %}

                    {% if not item.library_name %}
                        {% set library_name = "tmdb" %}
                        {% set item_not_available = True %}
                        {% set item_link = "/tmdb/movie/" + item.id|string + "/" %}
                    {% else %}
                        {% set library_name = item.library_name.lower() %}
                        {% set item_not_available = False %}
                        {% set item_link = "/library/" + library_name + "/" + item.id|string + "/" %}
                    {% endif %}

                    {% set item_image_src = "/thumbnail/" + item.poster_path %}
                    {% set item_meta_text_1 = item.title %}
                    {% set item_meta_text_2 = item.release_date[:4] %}
                    
                    {% include "components/poster-meta-text.html.j2" %}

                {% endfor %}
            </ul>
        </section>
    {% endif %}

      {% if tvshow %}
        <section class="container">
            <h2>Popular TV Shows</h2>
            <ul id="media" class="media horizontal_scroll">
                {% for item in tvshow %}

                    {% if not item.library_name %}
                        {% set library_name = "tmdb" %}
                        {% set item_not_available = True %}
                        {% set item_link = "/tmdb/tvshow/" + item.id|string + "/" %}
                    {% else %}
                        {% set library_name = item.library_name.lower() %}
                        {% set item_not_available = False %}
                        {% set item_link = "/library/" + library_name + "/" + item.id|string + "/" %}
                    {% endif %}

                    {% set item_image_src = "/thumbnail/" + item.poster_path %}
                    {% set item_meta_text_1 = item.title %}
                    {% set item_meta_text_2 = item.release_date[:4] %}
                    
                    {% include "components/poster-meta-text.html.j2" %}

                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}