<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="Pragma" content="no-cache" />
   <title>iXec Sync</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player/video-js.min.css') }}" />
   <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='javascript/socket.io.js') }}"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/vsg-skin.css') }}" />
</head>

<body onload="ready()">
   <!-- <section id="video-overlay">VIDEO FILENAME</section> -->
   <div class="wrapper">
      <video id="player" class="video-js vjs-big-play-button" controls preload="auto">
      </video>
   </div>

</body>
<script src="{{ url_for('static', filename='player/video.min.js') }}"></script>
<script src="{{ url_for('static', filename='player/videojs-overlay.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/sync.js') }}"></script>
<script>
   window.onresize = function () {
      player.height(window.innerHeight) // changes player to height window
      player.width(window.innerWidth) // changes player to width window
   }
</script>

</html>